<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <p>Player 1: <%= @player1.return_name %></p>
      <p>Player 2: <%= @player2.return_name %> HP:<%= @player2.hitpoints %></p>
    </div>
    <div>
      <p><%= @player2.return_name %> attacked!</p>
    </div>
  </body>
</html>
