<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <p>Player 1: <%= @player1 %></p>
      <p>Player 2: <%= @player2 %> HP:<%= @player2_hitpoints %></p>
    </div>
    <div>
      <p><%= @player2 %> attacked!</p>
    </div>
  </body>
</html>
